@model IEnumerable<ControleVendas.Models.PedidoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite">Pedidos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Adicionar Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                <a class="badge badge-info" asp-action="Edit" asp-route-id="@item.PedidoModelId">Editar</a> |
                <a class="badge badge-info" asp-action="Details" asp-route-id="@item.PedidoModelId">Detalhes</a> |
                <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.PedidoModelId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
