@model IEnumerable<ControleVendas.Models.ClienteModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite">Clientes</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                <a class="badge badge-info" asp-action="Edit" asp-route-id="@item.ClienteModelId">Editar</a> |
                <a class="badge badge-info" asp-action="Details" asp-route-id="@item.ClienteModelId">Detalhes</a> |
                <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.ClienteModelId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
