@model ControleVendas.Models.ProdutoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite">Detalhes</h1>

<div>
    <h4 class="colorWhite">Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 colorWhite">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10 colorWhite">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2 colorWhite">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10 colorWhite">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2 colorWhite">
            @Html.DisplayNameFor(model => model.PrecoUnit)
        </dt>
        <dd class = "col-sm-10 colorWhite">
            @Html.DisplayFor(model => model.PrecoUnit)
        </dd>
<<<<<<< HEAD
        <dt class = "col-sm-2 colorWhite">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10 colorWhite">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2 colorWhite">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class = "col-sm-10 colorWhite">
            @Html.DisplayFor(model => model.PrecoTotal)
=======
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
>>>>>>> f888a794f991ea4164c0c2088c6ebc210d90db31
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoModelId">Editar</a> |
    <a asp-action="Index">← Voltar</a>
</div>
