@model IEnumerable<ControleVendas.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite centerH1">Produtos</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.PrecoUnit)
            </th>
<<<<<<< HEAD
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.PrecoTotal)
=======
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
>>>>>>> f888a794f991ea4164c0c2088c6ebc210d90db31
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.PrecoUnit)
            </td>
<<<<<<< HEAD
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.PrecoTotal)
=======
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
>>>>>>> f888a794f991ea4164c0c2088c6ebc210d90db31
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
