@model IEnumerable<ControleVendas.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite">Produtos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Adicionar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.PrecoUnit)
            </th>
            <th class="colorWhite">
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.PrecoUnit)
            </td>
            <td class="colorWhite">
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                <a class="badge badge-info" asp-action="Edit" asp-route-id="@item.ProdutoModelId">Editar</a> |
                <a class="badge badge-info" asp-action="Details" asp-route-id="@item.ProdutoModelId">Detalhes</a> |
                <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.ProdutoModelId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
